In [1]:
import pandas as pd
import random

In [2]:
df = pd.DataFrame()

In [3]:
df['val'] = ['A','O','O','O','O','O','T','T','T','E','E','E','E','E','E','E','Y','Y','Y','Z']

In [19]:
df.sort_values('val')

   val
0    A
15   E
14   E
13   E
12   E
11   E
10   E
9    E
5    O
4    O
3    O
2    O
1    O
8    T
6    T
7    T
18   Y
16   Y
17   Y
19   Z

In [4]:
pd.value_counts(df['val'].values, sort=False)

Z    1
E    7
Y    3
O    5
A    1
T    3
dtype: int64

In [5]:
# Randomly sample 2 values from the dataframe

In [6]:
df['val'].sample(2)

7     T
15    E
Name: val, dtype: object

In [ ]:
weights=[0.65,0.95,0.85,0.75,0.85,0.95]

In [18]:
stacked = df.stack()
weights = stacked / stacked.sum()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [17]:
df.sample(df.index, 10)

ValueError: Please enter a value for `frac` OR `n`, not both

In [39]:
weights = [1, 0.65,0.65,0.65,0.65,0.65,0.65,0.65,0.75,0.75,0.75,0.75,0.75,0.85,0.85,0.85,0.85,0.85,0.85, 1]

In [41]:
df.sample(10, weights=weights, axis=0)

   val
1    O
17   Y
19   Z
9    E
10   E
6    T
16   Y
0    A
18   Y
3    O

[Resource](https://stackoverflow.com/questions/45223537/pandas-random-weighted-choice)

In [ ]:
+